.DS_Store
.patch
*.diff
.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
external/.DS_Store
install-sh
libtool
ltmain.sh
m4
missing
tsschecker/.DS_Store
tsschecker/all.h.bak
tsschecker/*.a
tsschecker/*.o
tsschecker/*.la
tsschecker/*.lo
tsschecker/tsschecker
tsschecker/tsschecker.exe
tsschecker/.libs
tsschecker/.deps
stamp-h1